body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(60, 83, 112, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(hsla(0,0%,100%,.6),hsla(0,0%,100%,.9) 70%,#ECEEEF),
    url(../img/maps.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
  color: #626F82;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
  color: #626F82;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #7FB2F0 0%, #729FD6 100%);
}

h4 {
  color: #626F82;
}

.my-takeaways {
  background-color: #ECEEEF;
}


.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(1) sepia(100%) invert(74%);
}

a, a:hover {
  color: #2C3C3A;
  font-family: 'IBM Plex Serif', serif;
}

footer {
  background-color: #626F82;
  color: #232B35;
}

p.m-0.text-center.my-brand a {
  font-family: 'Pacifico', cursive;
  color: #232B35;
}

.btn-primary {
  background-color: #626F82;
  border-color: #6C8A99;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #6C8A99 !important;
  border-color: #6C8A99 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 138, 153, 0.5);
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}
